/* Variables */
$wallpaper-color: #212121;
$pad: max(20px, 4vmin);
@media screen and (max-width: 360px) and (max-height: 720px) {

  .fst_p {
   margin-left: 7%;
  }
  }


//Keyframes
//This keyframe resembles an orbit.
//Este keyframe crea una animacion que asemeja la orbita de un planeta.
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes planet {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -800px;
  }
}

// Global styles. - Estilos globales.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display',sans-serif;
  font-weight: 100;
                                                
}
a {
  text-decoration: none;
}
ol {
  list-style: none;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li {
  background: url('./images/star.png') no-repeat left center; /* Ruta de la imagen */
  background-size: 15px 15px; /* Ancho y altura */
  padding-left: 25px; /* Espacio para la imagen */
  margin-bottom: 5px; /* Espacio entre elementos */
}

//Posicionamiento del fondo de la pagina con sus respectivas animaciones. - Positioning of the page background with their respective animations.
#app {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $wallpaper-color;
  color: rgb(114, 112, 112);
  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  cursor: url('./images/pointer.png'), pointer;
}

//Cuadro de contenido principal con su posiciomamiento fijo. - Main content box with fixed positioning.
#fixed-wall {
  position: fixed;
  background-color: $wallpaper-color;
  z-index: 1;
  left: $pad;
  right: $pad;
  top: $pad;
  bottom: $pad;
  border: 0.5px solid white;
  display: grid; 
  place-items: center;
}

//Contenedor del sistema solar definiendo su ancho y alto. - Solar system container defining width and height.
.solar-system {
  width: 720px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

//clases para el sol(Tamano, color, imagen, animacion) -classes for the sun(size, color, image, animation).
#sun { 
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(203, 147, 26);
  border-radius: 50%;
  animation: planet 200s linear infinite;
  transition: width 0.5s, height 0.5s; /*Transición para que el cambio de tamaño sea suave */
}

//Orbita de mercurio ancho y alto, borde redondo, animacion de movimiento, y su valor de z-index.
//Mercury orbit width and height, border rounded, movement animation.
.mercury-orbit {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: orbit 6s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
  z-index: 13;
}

//Ancho y alto del planeta mercurio, borde redondeado, margin para ubicarlo en orbita, imagen, sombra realista, animacion de movimiento.
//Width and height of the mercury planet, rounded border,margin to place it in orbit, image, realist shadow, movement animation.
.mercury {
  width: 22px; 
  height: 22px; 
  border-radius: 50%;
  margin: 7px; /* Ajusta la posición del círculo interior */
  background-color: gray;  
}

//Orbita de venus ancho y alto, borde redondo, animacion de movimiento.
//Venus orbit width and height, border rounded, movement animation.
.venus-orbit {
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  animation: orbit 7s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}

//Ancho y alto del planeta venus, borde redondeado, margen para ubicarlo en orbita, imagen, sombra realista, animacion de movimiento.
//Width and height of the venus planet, rounded border,margin to place it in orbit, image, realist shadow, movement animation.
.venus {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  margin: 16px; /* Ajusta la posición del círculo interior */
  background-color: orange;
}

//Orbita de la tierra ancho y alto, borde redondo, animacion de movimiento.
//Earth orbit width and height, border rounded, movement animation.
.earth-orbit {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  animation: orbit 8s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}

//Ancho y alto del planeta tierra, borde redondeado, margen para ubicarlo en orbita, imagen, sombra realista, animacion de movimiento.
//Width and height of the earth planet, rounded border,margin to place it in orbit, image, realist shadow, movement animation.
.earth {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  margin: 25px; /* Ajusta la posición del círculo interior */
  background-color: rgb(0, 81, 255);
}

//Orbita de la luna ancho y alto, borde redondo, animacion de movimiento.
//Moon orbit width and height, border rounded, movement animation.
.moon-orbit {
  position: absolute;
  margin: -16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: orbit 9s linear infinite;
}

//Ancho y alto de la luna, borde redondeado, margen para ubicarlo en orbita, sombra realista, animacion de movimiento.
//Width and height of the moon, rounded border,margin to place it in orbit, realist shadow, movement animation.
.moon {
  width: 7px;
  height: 7px; 
  border-radius: 50%;
  margin: 2px; /* Ajusta la posición del círculo interior */
  background-color: rgb(172, 172, 172);
}

//Orbita de marte ancho y alto, borde redondo, animacion de movimiento.
//Mars orbit width and height, border rounded, movement animation.
.mars-orbit {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}


//Ancho y alto del planeta marte, borde redondeado, margen para ubicarlo en orbita, imagen, sombra realista, animacion de movimiento.
//Width and height of the mars planet, rounded border,margin to place it in orbit, image, realist shadow, movement animation.
.mars {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  margin: 40px; /* Ajusta la posición del círculo interior */
  background-color: rgb(190, 56, 12);
}


//Orbita de jupiter ancho y alto, borde redondo, animacion de movimiento.
//jupiter orbit width and height, border rounded, movement animation.
.jupiter-orbit {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  animation: orbit 13s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}

//Ancho y alto del planeta jupiter, borde redondeado, margen para ubicarlo en orbita, imagen, sombra realista, animacion de movimiento.
//Width and height of the jupiter planet, rounded border,margin to place it in orbit, image, realist shadow, movement animation.
.jupiter {
  width: 42px; 
  height: 42px; 
  border-radius: 50%;
  margin: 47px; /* Ajusta la posición del círculo interior */
  background-color: rgb(152, 126, 100);

}

//Orbita de saturno ancho y alto, borde redondo, animacion de movimiento.
//Saturn orbit width and height, border rounded, movement animation.
.saturn-orbit {
  position: absolute;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  animation: orbit 18s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}

//Ancho y alto del planeta saturno, borde redondeado, margen para ubicarlo en orbita, imagen, sombra realista, animacion de movimiento.
//Width and height of the saturn planet, rounded border,margin to place it in orbit, image, realist shadow, movement animation.
.saturn {
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  margin: 63px; /* Ajusta la posición del círculo interior */
  background-color: rgb(210, 183, 150);
}

//Anillos del planeta saturno.
//Rings of the saturn planet.
.saturn-rings {  
  width: 70px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 20px 20px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 45px;
  top: 77px;
}

//Orbita de urano ancho y alto, borde redondo, animacion de movimiento.
//Uranus  orbit width and height, border rounded, movement animation.
.uranus-orbit {
  position: absolute;
  width: 630px;
  height: 630px;
  border-radius: 50%;
  animation: orbit 26s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}
.uranus {
  width: 38px; 
  height: 38px; 
  border-radius: 50%;
  margin: 72px; /* Ajusta la posición del círculo interior */
  background-color: rgb(53, 192, 224);

}
.neptune-orbit {
  position: absolute;
  width: 720px;
  height: 720px;
  border-radius: 50%;
  animation: orbit 39s linear infinite;
  border: 0.5px solid rgb(140, 135, 135);
}
.neptune {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin: 85px; /* Ajusta la posición del círculo interior */
  background-color: blue;
}

.fst-cont {
  position: fixed;
  z-index: 10;
  top: calc(($pad) * 2);
  left: calc(($pad) * 2);
}
.fst-tittle {
  margin: -0.1em 0 0 -0.04em;
  font-size: 40px;
}

.occupation-label {
  font-weight: 100;
  font-size: 18px;
}

.info {
  font-size: 18px;
  position: fixed;
  z-index: 10;
  top: calc(($pad) * 12);
  left: calc(($pad) * 2);
}

.info-box {
  font-size: 15px;
  width: 400px;
  height: 200px;
  position: fixed;
  top: 11pc;
  left: calc($pad*2);
  line-height: 23px;
  margin-top: 20px;
}

.feet {
  left: calc(($pad)*2);
  z-index: 1;
  bottom: calc(($pad) *2);;
  position: fixed;
  font-size: large;
}
.info:hover {
  color: wheat;
}

//Div container for projects
.projects-container {
  width: 300px;
  height: 400px;
  z-index: 1;
  position: absolute;
  right: calc(($pad)*2);;
  top: calc(($pad) *2);
}
//Second title
.sec_title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}



//Media query para telefonos mobiles con pantallas pequenas.
//Media query for mobile cellphones with small screen.
@media screen and (max-width: 390px) and (max-height: 844px) {
  #app {
    color: rgb(114, 112, 112);;
  }
  #Gthb.gthb {
    position: absolute;
    bottom: 2px;
    left: 10px;
    z-index: 1;
  }
  .info-box {
    display: none;
  }
  .fst-tittle {
    font-size: 25px;
  }
  .sec_title {
    font-size: 18px;
  }
  .occupation-label {
    margin-top: 3px;
    font-size: 13px;
  }
  .info {
    font-size: 13px;
    position: fixed;
    z-index: 10;
    top: calc(max(20px, 4vmin) * 27);
    left: calc(max(20px, 4vmin) * 2);
  } 
  .cv {
  font-size: 13px;
  }
  .cv:hover {
    color: white;
  }
  

  .Hlinks {
    position: absolute;
    width: 330px;
    height: 150px;
    bottom: 30px;
    left: 30px;
  }
  .projects-container {
    width: 300px;
    height: 110px;
    z-index: 1;
    position: absolute;
    right: calc(max(20px, 4vmin) * 2);
    top: calc(max(20px, 4vmin) * 5);
  }
  .solar-system {
    width: 50px;
    height: 50px;
  }
  #sun { 
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(203, 147, 26);
    border-radius: 50%;
    animation: planet 200s linear infinite;
    transition: width 0.5s, height 0.5s; /*Transición para que el cambio de tamaño sea suave */
  }
  .mercury-orbit {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: orbit 6s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
    z-index: 13;
  }
  .mercury {
    width: 7px; 
    height: 7px; 
    border-radius: 50%;
    margin: 5px; 
    background-color: gray;  
  }
  .venus-orbit {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    animation: orbit 7s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .venus {
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    margin: 8px; /* Ajusta la posición del círculo interior */
    background-color: orange;
  }
  .earth-orbit {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: orbit 8s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .earth {
    width: 11px; 
    height: 11px; 
    border-radius: 50%;
    margin: 10px; 
    background-color: rgb(0, 81, 255);
  }
  .moon-orbit {
    position: absolute;
    margin: -7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: orbit 9s linear infinite;
  }
  .moon {
    width: 4px; 
    height: 4px; 
    border-radius: 50%;
    margin: 2px;
    background-color: rgb(172, 172, 172);
  }
  .mars-orbit {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: orbit 10s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .mars {
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    margin: 17px; 
    background-color: rgb(190, 56, 12);
  }
  .jupiter-orbit {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: orbit 13s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .jupiter {
    width: 12px; 
    height: 12px; 
    border-radius: 50%;
    margin: 19px; 
    background-color: rgb(152, 126, 100);
  }
  .saturn-orbit {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    animation: orbit 18s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .saturn {
    width: 13px; 
    height: 13px; 
    border-radius: 50%;
    margin: 24px; 
    background-color: rgb(210, 183, 150);
  }
  .saturn-rings {  
    width: 25px;
    height: 2px;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 20px 20px 30px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 18px;
    top: 30px;
  }
  .uranus-orbit {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    animation: orbit 26s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .uranus {
    width: 13px; 
    height: 13px;
    border-radius: 50%;
    margin: 28px; 
    background-color: rgb(53, 192, 224);
  
  }
  .neptune-orbit {
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    animation: orbit 39s linear infinite;
    border: 0.5px solid rgb(140, 135, 135);
  }
  .neptune {
    width: 12px; 
    height: 12px; 
    border-radius: 50%;
    margin: 33px; 
    background-color: blue;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) { 
  .info-box {
    font-size: 15px;
    width: 255px;
    height: 250px;
    position: fixed;
    top: 11pc;
    left: calc(max(20px, 4vmin) * 2);
    line-height: 23px;
    margin-top: 20px;
  }

}



.img_github {
  width: 25px;
  height: 25px;
}

.img_lkn {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}


//Div first project
.fst_p {
  width: auto;
  height: 150px;
}
//Hyperlink for my projects
.lnk_p_t {
  text-decoration: none;
  font-size: 15px;
  color: rgb(114, 112, 112);
}
.lnk_p_t:hover {
  color: rgb(160, 160, 160);
}
.gthb {
  position: absolute;
  left: calc(($pad) * 2);
  z-index: 1;
  bottom: 6%;
}
